# ==============================================================================
# WORKNEST - MERN KANBAN DASHBOARD CONFIGURATIONS
# ==============================================================================

# Backend Server Port (Default is 5000)
PORT=5000

# MongoDB URI String
# Set your Atlas URI or keep local URI for offline databases
MONGO_URI=mongodb://127.0.0.1:27017/worknest

# Frontend API Endpoint Target
# Directs Vite application calls to the active Express server api
VITE_API_URL=http://localhost:5000/api
